div {
	width: 100%;
	text-align: center;
	font-size: 25px;
	color: #003752;
}

button {
	padding:5px;
	border:2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
	margin-top: 10px;
}

td, th {
	padding: 3px 10px;
	border: 1px solid white;
}

th {
	background-color:#006699;
	color:#FFFFFF;
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid #0070A8;
}

td {
	color: #00496B;
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: bold;
	color: #00496B;
}

tr {
	background-color: #FFFFFF;
}

tr:nth-child(even) {
	background-color: #E1EEF4;
}

#error_p {
	background-color: #FF8080;
	text-align: center;
	border-style: solid;
	border-color: red;
}
